/* Retro Modern Style for Doom Holderz Blog */

body {
    font-family: 'Lucida Console', Monaco, monospace;
    background-color: #2c2c2c;
    color: #d3d3d3;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: #f0e68c;
    text-align: center;
    margin: 20px 0;
}

.center_p {
	text-align:center;
	background-color:grey;
}

h3 {
	text-align: left;
	margin-left:20px;
	padding:0;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    color: #d3d3d3;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #f0e68c;
}

ul {
/*    list-style-type: none; */
    padding-left:50px;
}

ul li {
    margin: 0px 0;
}

li p {
	margin:0px;
	margin-left:-10px;
}

a {
    color: #f0e999;
    text-decoration: none;
    text-decoration:bold;
}

a:hover {
    color: #f0e68c;
}

img {
	max-width:50%;
	height:auto;
}

hr {
	width:70%;
	opacity:0.5;
	margin-top:30px;
	margin-bottom:30px;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 0px solid #d3d3d3;
    background-color: #333333;
}

.container p {
    padding: 0 20px; /* Added padding for body text */
}

code {
    background-color: #555555; /* Light grey background */
    color: white; /* Red font color */
    font-size:13px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #d3d3d3;
}

